
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

</head>
<style>
    body {
        font-family: 'Inter', sans-serif;
    }
</style>
<body class="items-center mt-20 space-x-10 justify-center flex flex-col space-y-10 min-h-screen bg-black">

    <h1 class="text-white text-center justify-center mt-10 text-xl font-bold">TOPLAM AÇILAN SANDIK %<%= data.AcilanSandikOrani%></h1>

<div class=" flex sm:flex-row flex-col sm:space-y-0 space-y-10  sm:space-x-10 ">
                <div class="flex">
                    <div class="h-32 w-80 px-3 relative font-medium items-center flex space-x-2 bg-yellow-400">
                        <% data.Sonuclar.forEach(sonuc => { %>
                            <% if (sonuc.Adi === "Recep Tayyip Erdoğan") { %>
                                <img src="https://cdt-tr.hanzy.dev/cdt-passport/41.png" class="h-32">
                                <h1><%= sonuc.Adi %></h1>
                                <h1 class="absolute text-[10px] bottom-0 right-0 ">SONUCLAR YANITLICI OLABİLİR </h1>
                    </div>
                    <div class="bg-yellow-600 font-bold justify-center flex items-center -32 w-20">
                        %<%= sonuc.OyOrani %>
                    </div>
                    <% } %>
                    <% }); %>

                </div>
                <div class="flex">
                    <div class="h-32 w-80 px-3 font-medium items-center flex space-x-2 bg-red-800">
                        <% data.Sonuclar.forEach(sonuc => { %>
                            <% if (sonuc.Adi === "Kemal Kılıçdaroğlu") { %>
                                <img src="https://cdt-tr.hanzy.dev/cdt-passport/43.png" class="h-32">
                                <h1><%= sonuc.Adi %></h1>
                    </div>
                    <div class="bg-red-900 font-bold justify-center flex items-center -32 w-20">
                        %<%= sonuc.OyOrani %>
                    </div>
                    <% } %>
                    <% }); %>
                </div>
                <div class="flex">
                    <div class="h-32 w-80 px-3 font-medium items-center flex space-x-2 bg-blue-800">
                        <% data.Sonuclar.forEach(sonuc => { %>
                            <% if (sonuc.Adi === "Sinan Oğan") { %>
                                <img src="https://cdt-tr.hanzy.dev/cdt-passport/44.png" class="h-32">
                                <h1><%= sonuc.Adi %></h1>
                    </div>
                    <div class="bg-blue-900 font-bold justify-center flex items-center -32 w-20">
                        %<%= sonuc.OyOrani %>
                    </div>
                    <% } %>
                    <% }); %>
                </div>
                <div class="flex">
                    <div class="h-32 w-80 px-3 font-medium items-center flex space-x-2 bg-pink-800">
                        <% data.Sonuclar.forEach(sonuc => { %>
                            <% if (sonuc.Adi === "Muharrem İnce") { %>
                                <img src="https://cdt-tr.hanzy.dev/cdt-passport/42.png" class="h-32">
                                <h1><%= sonuc.Adi %></h1>
                    </div>
                    <div class="bg-pink-900 font-bold justify-center flex items-center -32 w-20">
                        %<%= sonuc.OyOrani %>
                    </div>
                    <% } %>
                    <% }); %>
                </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="public/script.js"></script>
</html>
